<div class="container mt-4">
    <h2>BIENVENIDO</h2>
  
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
      <!-- Card de Pedidos -->
      <div class="col">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Pedidos</h5>
            <p class="card-text">Información sobre pedidos</p>
            <a href="/listar-pedidos" class="btn btn-primary">Ver Pedidos</a>
          </div>
        </div>
      </div>
  
      <!-- Card de Productos -->
      <div class="col">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Productos</h5>
            <p class="card-text">accede a la lista de productos</p>
            <a href="/listar-productos" class="btn btn-primary">Ver Productos</a>
          </div>
        </div>
      </div>
  
      <!-- Card de Clientes -->
      <div class="col">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Información sobre clientes</p>
            <a href="/listar-clientes" class="btn btn-primary">Ver Clientes</a>
          </div>
        </div>
      </div>
  
      <!-- Card de Últimos Ingresos -->
      <div class="col">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Últimos Ingresos</h5>
            <p class="card-text">Información sobre los últimos ingresos</p>
            <a href="/ultimos-ingresos" class="btn btn-primary">Ver Últimos Ingresos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  