<div class="container mt-4">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
      Agregar Cliente
    </button>
  
    <div class="row row-cols-1 row-cols-md-1 g-4">
      <!-- Lista de Clientes -->
      <div class="col" *ngFor="let cliente of clientes">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ cliente.nombres }}</h5>
            <p class="card-text">{{ cliente.email }}</p>
  
            <!-- Botones de Acción -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-outline-primary me-md-2" (click)="verCliente(cliente.id_cliente)">Ver</button>
              <!-- <button class="btn btn-outline-warning me-md-2" (click)="editarCliente(cliente.id)">Editar</button> -->
              <button class="btn btn-outline-danger" (click)="eliminarCliente(cliente.id_cliente)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal para Ingreso de Clientes -->
  <div class="modal fade" id="agregarClienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-ingreso-clientes></app-ingreso-clientes>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
