<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">Acerca de mi</h3>
                    <h6 class="theme-color lead">Estudiante de ingenieria en TI</h6>
                    <p>Yo <mark> diseño y desarrollo</mark> servicios web tanto en back-end como en front-end, usando javascript como lenguaje principal y el framework angular para el desarrollo de interfaces de usuario</p>

                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Nacimiento</label>
                                <p>13th mayo 2000</p>
                            </div>
                            <div class="media">
                                <label>Edad</label>
                                <p>23 Años</p>
                            </div>
                            <div class="media">
                                <label>Residencia</label>
                                <p>Ecuador</p>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>Ciudad</label>
                                <p>Manta, Ecuador</p>
                            </div>
                            <div class="media">
                                <label>E-mail</label>
                                <p>{{email}}</p>
                            </div>
                            <div class="media">
                                <label>Telefono</label>
                                <p>099 063 0486</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar" style="display: flex; justify-content: center;
                align-items: center;">
                    <img class="img-h" src="https://scontent.fmec2-1.fna.fbcdn.net/v/t39.30808-6/378386657_619527660262159_1679216755181773227_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeHbw1hblH1KFw5YiVQIDoW-qUVqaIDZiBGpRWpogNmIERfp6IYTMAyx5VLvDZJpbhp4aelbaCSeqeakyVoyB2t0&_nc_ohc=DyFSMmhdy9UAX9cGgr5&_nc_ht=scontent.fmec2-1.fna&oh=00_AfCOrKw2CQgSFmWpqnrce7uX6CCP3snpgWZXh5Hm2geiSw&oe=6575BC49" title="" alt="">
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <a href="https://www.facebook.com/brigitte.isabel.9"><i class="bi bi-facebook"></i></a>
                        <p class="m-0px font-w-600">facebook</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <a href="https://www.instagram.com/brigitte.isabel.9/"><i class="bi bi-instagram"></i></a>
                        <p class="m-0px font-w-600">instagram </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <a href="https://www.tiktok.com/@isabeltaboada2"><i class="bi bi-tiktok"></i></a>
                        <p class="m-0px font-w-600">tik tok</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <a href="https://github.com/isa2000"><i class="bi bi-github"></i></a>
                        <p class="m-0px font-w-600">GitHub </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>